@model GreenHouse.ViewModels.SensorViewModel

@{
    ViewBag.Title = "Add sensor";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="panel-body">
        @using(Html.BeginForm("AddSensor","Home",FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(x=>x.Name)
                @Html.TextBoxFor(x=>x.Name, new {@class="form-control" })        
            </div>
            <div class="form-group">
                @Html.LabelFor(x=>x.TypeId)
                @Html.TextBoxFor(x=>x.TypeId, new {@class="form-control" })        
            </div>
            <div class="form-group">
                @Html.LabelFor(x=>x.DeviceId)
                @Html.TextBoxFor(x=>x.DeviceId, new {@class="form-control" })        
            </div>
            <div class="form-group">
                @Html.LabelFor(x=>x.Location)
                @Html.TextBoxFor(x=>x.Location, new {@class="form-control" })        
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
        }
    </div>
</div>