@model IEnumerable<GreenHouse.ViewModels.SensorDataViewModel>

@{
    ViewBag.Title = "Sensor data";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Sensor data</h2>

@if(Model.Any())
{
    <table class="table table-hover">
        <tr>
            <th>Date</th>
            <th>Device</th>
            @*<th>DeviceID</th>*@
            <th>Sensor type</th>
            <th>Value</th>
            <th>Dimension</th>
        </tr>
    
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.EventDateTime.ToString()</td>
            <td>@item.DeviceName</td>
            @*<td>@item.DeviceId</td>*@
            <td>@item.SensorType</td>
            <td>@item.Value</td>
            <td>@item.SensorDimension</td>
        </tr>
    
        }
    </table>
}